.log-container {
    width: 100%;
    display: flex;
    flex-direction: row;

    .log {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 0;
        margin-right: 0;

        div {
            background-color: rgba(255, 255, 255, 0.025);
            border-top: 1px solid rgba(255, 255, 255, 0.045);
            border-bottom: 1px solid rgba(255, 255, 255, 0.045);

            &:nth-child(even) {
                background-color: rgba(0, 0, 0, 0.025);
                border-top: 1px solid rgba(0, 0, 0, 0.045);
                border-bottom: 1px solid rgba(0, 0, 0, 0.045);
            }
        }

        &:first-child {
            width: 25%;
            position: sticky;
            z-index: 2;
        }

        &:nth-child(2) {
            flex: 1;

            div {
                width: 75vw;
            }
        }
    }
}
