.section-title {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 12px;
    border: 1px solid #e5e5e5;
    background-color: #f8f8f8;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    position: relative;

    .section-content {
        flex: 1;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

        .section-column {
            flex: 1;
            display: flex;
            flex-flow: row;
            align-items: center;

            i {
                width: 20px;
                height: 20px;
            }

            .section-label {
                padding-left: 3px;
                font-size: 12px;
                font-weight: 600;
                color: #000;
            }

            &:first-child {
                justify-content: flex-start;
            }

            &:last-child {
                justify-content: flex-end;
            }
        }
    }
}
